 AuthType Basic
 AuthName "staging"
 AuthUserFile "/home/www/.htpasswds/staging/passwd"
 require valid-user

Redirect 301 /prescription-sunglasses-c-614.html http://www.fashioneyewear.co.uk/prescription-sunglasses.html
Redirect 301 /designer-frames-bvlgari-glasses-c-2_220.html http://www.fashioneyewear.co.uk/designer-frames-1/bvlgari-glasses.html
Redirect 301 /designer-frames-carrera-glasses-c-2_793.html http://www.fashioneyewear.co.uk/designer-frames-1/carrera-glasses.html
Redirect 301 /designer-frames-save-on-chanel-glasses-c-2_1803.html http://www.fashioneyewear.co.uk/designer-frames-1/chanel-glasses.html
Redirect 301 /designer-frames-dior-glasses-c-2_132.html http://www.fashioneyewear.co.uk/designer-frames-1/christian-dior-glasses.html
Redirect 301 /designer-frames-dg-glasses-c-2_24.html http://www.fashioneyewear.co.uk/designer-frames-1/d-g-glasses.html
Redirect 301 /designer-frames-dkny-glasses-c-2_131.html http://www.fashioneyewear.co.uk/designer-frames-1/dkny-glasses.html
Redirect 301 /designer-frames-dolce-gabbana-glasses-c-2_31.html http://www.fashioneyewear.co.uk/designer-frames-1/dolce-and-gabbana-glasses.html
Redirect 301 /designer-frames-emporio-armani-glasses-c-2_2070.html http://www.fashioneyewear.co.uk/designer-frames-1/emporio-armani-glasses.html
Redirect 301 /designer-frames-gucci-glasses-c-2_26.html http://www.fashioneyewear.co.uk/designer-frames-1/gucci-glasses.html
Redirect 301 /designer-frames-hugo-boss-glasses-c-2_2067.html http://www.fashioneyewear.co.uk/designer-frames-1/hugo-glasses.html
Redirect 301 /designer-frames-lindberg-glasses-c-2_2065.html http://www.fashioneyewear.co.uk/designer-frames-1/lindberg-glasses.html
Redirect 301 /designer-frames-marc-by-marc-jacobs-glasses-c-2_2066.html http://www.fashioneyewear.co.uk/designer-frames-1/marc-by-marc-jacobs-glasses.html
Redirect 301 /designer-frames-mont-blanc-glasses-c-2_2072.html http://www.fashioneyewear.co.uk/designer-frames-1/mont-blanc-glasses.html
Redirect 301 /designer-frames-oakley-prescription-glasses-c-2_1931.html http://www.fashioneyewear.co.uk/designer-frames-1/oakley-prescription-glasses.html
Redirect 301 /designer-frames-oliver-peoples-glasses-c-2_2091.html http://www.fashioneyewear.co.uk/designer-frames-1/oliver-peoples-glasses.html
Redirect 301 /designer-frames-paul-smith-glasses-c-2_2092.html http://www.fashioneyewear.co.uk/designer-frames-1/paul-smith-glasses.html
Redirect 301 /designer-frames-persol-glasses-c-2_219.html http://www.fashioneyewear.co.uk/designer-frames-1/persol-glasses.html
Redirect 301 /designer-frames-polo-glasses-c-2_2088.html http://www.fashioneyewear.co.uk/designer-frames-1/polo-glasses.html
Redirect 301 /designer-frames-prada-glasses-c-2_25.html http://www.fashioneyewear.co.uk/designer-frames-1/prada-glasses.html
Redirect 301 /designer-frames-prada-sport-glasses-c-2_133.html http://www.fashioneyewear.co.uk/designer-frames-1/prada-sport-glasses.html
Redirect 301 /designer-frames-ralph-lauren-glasses-c-2_2090.html http://www.fashioneyewear.co.uk/designer-frames-1/ralph-lauren-glasses.html
Redirect 301 /designer-frames-ray-ban-glasses-c-2_1115.html http://www.fashioneyewear.co.uk/designer-frames-1/ray-ban-glasses.html
Redirect 301 /designer-frames-ray-ban-junior-glasses-c-2_45.html http://www.fashioneyewear.co.uk/designer-frames-1/ray-ban-junior-glasses.html
Redirect 301 /designer-frames-swarovski-glasses-c-2_2064.html http://www.fashioneyewear.co.uk/designer-frames-1/swarovski-glasses.html
Redirect 301 /designer-frames-tag-heuer-glasses-c-2_2069.html http://www.fashioneyewear.co.uk/designer-frames-1/tag-heuer-glasses.html
Redirect 301 /designer-frames-tiffany-glasses-c-2_2089.html http://www.fashioneyewear.co.uk/designer-frames-1/tiffany-glasses.html
Redirect 301 /designer-frames-tom-ford-glasses-c-2_171.html http://www.fashioneyewear.co.uk/designer-frames-1/tom-ford-glasses.html
Redirect 301 /designer-frames-varifocal-glasses-c-2_1619.html http://www.fashioneyewear.co.uk/varifocal-glasses.html
Redirect 301 /designer-sunglasses-bvlgari-sunglasses-c-1_172.html http://www.fashioneyewear.co.uk/designer-sunglasses/bvlgari-sunglasses.html
Redirect 301 /designer-sunglasses-carrera-sunglasses-c-1_848.html http://www.fashioneyewear.co.uk/designer-sunglasses/carrera-sunglasses.html
Redirect 301 /designer-sunglasses-chanel-sunglasses-c-1_168.html http://www.fashioneyewear.co.uk/designer-sunglasses/chanel-sunglasses.html
Redirect 301 /designer-sunglasses-dg-sunglasses-c-1_23.html http://www.fashioneyewear.co.uk/designer-sunglasses/d-g-sunglasses.html
Redirect 301 /designer-sunglasses-dior-sunglasses-c-1_52.html http://www.fashioneyewear.co.uk/designer-sunglasses/dior-sunglasses.html
Redirect 301 /designer-sunglasses-dkny-sunglasses-c-1_130.html http://www.fashioneyewear.co.uk/designer-sunglasses/dkny-sunglasses.html
Redirect 301 /designer-sunglasses-dolce-and-gabbana-sunglasses-c-1_29.html http://www.fashioneyewear.co.uk/designer-sunglasses/dolce-and-gabbana-sunglasses.html
Redirect 301 /designer-sunglasses-gucci-sunglasses-c-1_20.html http://www.fashioneyewear.co.uk/designer-sunglasses/gucci-sunglasses.html
Redirect 301 /designer-sunglasses-miu-miu-sunglasses-c-1_200.html http://www.fashioneyewear.co.uk/designer-sunglasses/miu-miu-sunglasses.html
Redirect 301 /designer-sunglasses-mont-blanc-sunglasses-c-1_1269.html http://www.fashioneyewear.co.uk/designer-sunglasses/mont-blanc-sunglasses.html
Redirect 301 /designer-sunglasses-ray-ban-aviators-c-1_575.html http://www.fashioneyewear.co.uk/designer-sunglasses/ray-ban-aviators.html
Redirect 301 /designer-sunglasses-ray-ban-junior-sunglasses-c-1_222.html http://www.fashioneyewear.co.uk/designer-sunglasses/ray-ban-junior-sunglasses.html
Redirect 301 /designer-sunglasses-ray-ban-sunglasses-c-1_19.html http://www.fashioneyewear.co.uk/designer-sunglasses/ray-ban-sunglasses.html
Redirect 301 /designer-sunglasses-ray-ban-wayfarer-c-1_574.html http://www.fashioneyewear.co.uk/designer-sunglasses/ray-ban-wayfarer.html
Redirect 301 /designer-sunglasses-tag-heuer-sunglasses-c-1_2116.html http://www.fashioneyewear.co.uk/designer-sunglasses/tag-heuer-sunglasses.html
Redirect 301 /designer-sunglasses-tom-ford-sunglasses-c-1_170.html http://www.fashioneyewear.co.uk/designer-sunglasses/tom-ford-sunglasses.html
Redirect 301 /prescription-sunglasses-armani-prescription-sunglasses-c-614_2076.html http://www.fashioneyewear.co.uk/prescription-sunglasses/armani-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-bvlgari-prescription-sunglasses-c-614_1830.html http://www.fashioneyewear.co.uk/prescription-sunglasses/bvlgari-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-carrera-prescription-sunglasses-c-614_1831.html http://www.fashioneyewear.co.uk/prescription-sunglasses/carrera-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-chanel-prescription-sunglasses-c-614_726.html http://www.fashioneyewear.co.uk/prescription-sunglasses/chanel-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-dg-prescription-sunglasses-c-614_1832.html http://www.fashioneyewear.co.uk/prescription-sunglasses/d-g-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-dior-prescription-sunglasses-c-614_1833.html http://www.fashioneyewear.co.uk/prescription-sunglasses/dior-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-dkny-prescription-sunglasses-c-614_1840.html http://www.fashioneyewear.co.uk/prescription-sunglasses/dkny-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-dolce-gabbana-prescription-sun-c-614_1834.html http://www.fashioneyewear.co.uk/prescription-sunglasses/dolce-and-gabbana-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-gucci-prescription-sunglasses-c-614_1835.html http://www.fashioneyewear.co.uk/prescription-sunglasses/gucci-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-hugo-boss-prescription-glasses-c-614_2080.html http://www.fashioneyewear.co.uk/prescription-sunglasses/hugo-boss-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-lindberg-prescription-sunglasses-c-614_2077.html http://www.fashioneyewear.co.uk/prescription-sunglasses/lindberg-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-marc-jacobs-prescription-sunglas-c-614_2071.html http://www.fashioneyewear.co.uk/prescription-sunglasses/marc-jacobs-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-miu-miu-prescription-sunglasses-c-614_1836.html http://www.fashioneyewear.co.uk/prescription-sunglasses/miu-miu-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-mont-blanc-prescription-sunglass-c-614_1839.html http://www.fashioneyewear.co.uk/prescription-sunglasses/mont-blanc-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-oakley-prescription-sunglasses-c-614_728.html http://www.fashioneyewear.co.uk/prescription-sunglasses/oakley-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-oliver-peoples-sunglasses-c-614_2097.html http://www.fashioneyewear.co.uk/prescription-sunglasses/oliver-peoples-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-paul-smith-sunglasses-c-614_2100.html http://www.fashioneyewear.co.uk/prescription-sunglasses/paul-smith-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-persol-prescription-sunglasses-c-614_727.html http://www.fashioneyewear.co.uk/prescription-sunglasses/persol-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-police-prescription-sunglasses-c-614_2099.html http://www.fashioneyewear.co.uk/prescription-sunglasses/police-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-polo-prescription-sunglasses-c-614_2096.html http://www.fashioneyewear.co.uk/prescription-sunglasses/polo-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-prada-prescription-sunglasses-c-614_729.html http://www.fashioneyewear.co.uk/prescription-sunglasses/prada-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-prada-sport-prescription-sunglas-c-614_1838.html http://www.fashioneyewear.co.uk/prescription-sunglasses/prada-sport-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-ralph-lauren-sunglasses-c-614_2095.html http://www.fashioneyewear.co.uk/prescription-sunglasses/ralph-lauren-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-ray-ban-prescription-sunglasses-c-614_615.html http://www.fashioneyewear.co.uk/prescription-sunglasses/ray-ban-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-swarovski-prescription-glasses-c-614_2078.html http://www.fashioneyewear.co.uk/prescription-sunglasses/swarovski-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-tag-heuer-prescription-glasses-c-614_2074.html http://www.fashioneyewear.co.uk/prescription-sunglasses/tag-heuer-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-tiffany-prescription-sunglasses-c-614_2098.html http://www.fashioneyewear.co.uk/prescription-sunglasses/tiffany-prescription-sunglasses.html
Redirect 301 /prescription-sunglasses-tom-ford-prescription-sunglasses-c-614_730.html http://www.fashioneyewear.co.uk/prescription-sunglasses/tom-ford-prescription-sunglasses.html
Redirect 301 /page.html?chapter=0&id=23  http://www.fashioneyewear.co.uk/opticians_in_london
Redirect 301 /designer-spectacles-armani-frames-c-2101_2111.html http://www.fashioneyewear.co.uk/designer-spectacles/armani-frames.html
Redirect 301 /designer-spectacles-bvlgari-frames-c-2101_2109.html http://www.fashioneyewear.co.uk/designer-spectacles/bvlgari-frames.html
Redirect 301 /designer-spectacles-carrera-frames-c-2101_2131.html http://www.fashioneyewear.co.uk/designer-spectacles/carrera-frames.html
Redirect 301 /designer-spectacles-chanel-frames-c-2101_2105.html http://www.fashioneyewear.co.uk/designer-spectacles/chanel-frames.html
Redirect 301 /designer-spectacles-dg-frames-c-2101_2132.html http://www.fashioneyewear.co.uk/designer-spectacles/d-g-frames.html
Redirect 301 /designer-spectacles-dior-frames-c-2101_2103.html http://www.fashioneyewear.co.uk/designer-spectacles/dior-frames.html
Redirect 301 /designer-spectacles-dkny-frames-c-2101_2112.html http://www.fashioneyewear.co.uk/designer-spectacles/dkny-frames.html
Redirect 301 /designer-spectacles-dolce-and-gabbana-frames-c-2101_2102.html http://www.fashioneyewear.co.uk/designer-spectacles/dolce-and-gabbana-frames.html
Redirect 301 /designer-spectacles-gucci-frames-c-2101_2108.html http://www.fashioneyewear.co.uk/designer-spectacles/gucci-frames.html
Redirect 301 /designer-spectacles-hugo-boss-frames-c-2101_2130.html http://www.fashioneyewear.co.uk/designer-spectacles/hugo-boss-frames.html
Redirect 301 /designer-spectacles-lindberg-frames-c-2101_2120.html http://www.fashioneyewear.co.uk/designer-spectacles/lindberg-frames.html
Redirect 301 /designer-spectacles-marc-by-marc-jacobs-frames-c-2101_2134.html http://www.fashioneyewear.co.uk/designer-spectacles/marc-by-marc-jacobs-frames.html
Redirect 301 /designer-spectacles-mont-blanc-frames-c-2101_2133.html http://www.fashioneyewear.co.uk/designer-spectacles/mont-blanc-frames.html
Redirect 301 /designer-spectacles-oakley-frames-c-2101_2107.html http://www.fashioneyewear.co.uk/designer-spectacles/oakley-frames.html
Redirect 301 /designer-spectacles-persol-frames-c-2101_2110.html http://www.fashioneyewear.co.uk/designer-spectacles/persol-frames.html
Redirect 301 /designer-spectacles-police-frames-c-2101_2128.html http://www.fashioneyewear.co.uk/designer-spectacles/police-frames.html
Redirect 301 /designer-spectacles-polo-frames-c-2101_2129.html http://www.fashioneyewear.co.uk/designer-spectacles/polo-frames.html
Redirect 301 /designer-spectacles-prada-frames-c-2101_2106.html http://www.fashioneyewear.co.uk/designer-spectacles/prada-frames.html
Redirect 301 /designer-spectacles-prada-sport-frames-c-2101_2127.html http://www.fashioneyewear.co.uk/designer-spectacles/prada-sport-frames.html
Redirect 301 /designer-spectacles-ralph-lauren-frames-c-2101_2114.html http://www.fashioneyewear.co.uk/designer-spectacles/ralph-lauren-frames.html
Redirect 301 /designer-spectacles-ray-ban-frames-c-2101_2104.html http://www.fashioneyewear.co.uk/designer-spectacles/ray-ban-frames.html
Redirect 301 /designer-spectacles-ray-ban-junior-frames-c-2101_2135.html http://www.fashioneyewear.co.uk/designer-spectacles/ray-ban-junior-frames.html
Redirect 301 /designer-spectacles-swarovski-frames-c-2101_2118.html http://www.fashioneyewear.co.uk/designer-spectacles/swarovski-frames.html
Redirect 301 /designer-spectacles-tag-heuer-frames-c-2101_2119.html http://www.fashioneyewear.co.uk/designer-spectacles/tag-heuer-frames.html
Redirect 301 /designer-spectacles-tiffany-frames-c-2101_2117.html http://www.fashioneyewear.co.uk/designer-spectacles/tiffany-frames.html
Redirect 301 /designer-spectacles-tom-ford-frames-c-2101_2113.html http://www.fashioneyewear.co.uk/designer-spectacles/tom-ford-frames.html
Redirect 301 /designer-frames-c-2.html http://www.fashioneyewear.co.uk/designer-frames-1.html
Redirect 301 /designer-sunglasses-c-1.html http://www.fashioneyewear.co.uk/designer-sunglasses.html
Redirect 301 /page.html?chapter=0&id=23 http://www.fashioneyewear.co.uk/opticians_in_london
Redirect 301 /sunglasses-ray-ban-aviators-c-1_575.html http://www.fashioneyewear.co.uk/designer-sunglasses/ray-ban-aviators.html
Redirect 301 /sunglasses-ray-ban-wayfarer-c-1_574.html http://www.fashioneyewear.co.uk/designer-sunglasses/ray-ban-wayfarer.html

Redirect 301 /sunglasses-prada-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/prada-sunglasses.html
Redirect 301 /designer-sunglasses-prada-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/prada-sunglasses.html
Redirect 301 /sunglasses-prada-sport-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/prada-sport-sunglasses.html
Redirect 301 /designer-sunglasses-prada-sport-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/prada-sport-sunglasses.html
Redirect 301 /sunglasses-persol-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/persol-sunglasses.html
Redirect 301 /designer-sunglasses-persol-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/persol-sunglasses.html
Redirect 301 /sunglasses-oakley-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/oakley-sunglasses.html
Redirect 301 /designer-sunglasses-oakley-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/oakley-sunglasses.html
Redirect 301 /sunglasses-dkny-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/dkny-sunglasses.html
Redirect 301 /sunglasses-tom-ford-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/tom-ford-sunglasses.html
Redirect 301 /sunglasses-bvlgari-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/bvlgari-sunglasses.html
Redirect 301 /sunglasses-gucci-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/gucci-sunglasses.html
Redirect 301 /sunglasses-ray-ban-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/ray-ban-sunglasses.html
Redirect 301 /sunglasses-dolce-and-gabbana-sunglasses-c-1_21.html http://www.fashioneyewear.co.uk/designer-sunglasses/dolce-and-gabbana-sunglasses.html

Redirect 301 /prescription-sunglasses-oakley-sunglasses-c-614_728.html http://www.fashioneyewear.co.uk/prescription-sunglasses/oakley-prescription-sunglasses.html
Redirect 301 /sunglasses-tom-ford-sunglasses-c-1_170.html http://www.fashioneyewear.co.uk/designer-sunglasses/tom-ford-sunglasses.html


############################################
## uncomment these lines for CGI mode
## make sure to specify the correct cgi php binary file name
## it might be /cgi-bin/php-cgi

#    Action php5-cgi /cgi-bin/php5-cgi
#    AddHandler php5-cgi .php

############################################
## GoDaddy specific options

#   Options -MultiViews

## you might also need to add this line to php.ini
##     cgi.fix_pathinfo = 1
## if it still doesn't work, rename php.ini to php5.ini

############################################
## this line is specific for 1and1 hosting

    #AddType x-mapp-php5 .php
    #AddHandler x-mapp-php5 .php

############################################
## default index file

    DirectoryIndex index.php

<IfModule mod_php5.c>

############################################
## adjust memory limit

#    php_value memory_limit 64M
    php_value memory_limit 512M
    php_value max_execution_time 18000

############################################
## disable magic quotes for php request vars

    php_flag magic_quotes_gpc off

############################################
## disable automatic session start
## before autoload was initialized

    php_flag session.auto_start off

############################################
## enable resulting html compression

    #php_flag zlib.output_compression on

###########################################
# disable user agent verification to not break multiple image upload

    php_flag suhosin.session.cryptua off

###########################################
# turn off compatibility with PHP4 when dealing with objects

    php_flag zend.ze1_compatibility_mode Off

</IfModule>

<IfModule mod_security.c>
###########################################
# disable POST processing to not break multiple image upload

    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

<IfModule mod_deflate.c>

############################################
## enable apache served files compression
## http://developer.yahoo.com/performance/rules.html#gzip

    # Insert filter on all content
    ###SetOutputFilter DEFLATE
    # Insert filter on selected content types only
    #AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript

    # Netscape 4.x has some problems...
    #BrowserMatch ^Mozilla/4 gzip-only-text/html

    # Netscape 4.06-4.08 have some more problems
    #BrowserMatch ^Mozilla/4\.0[678] no-gzip

    # MSIE masquerades as Netscape, but it is fine
    #BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    # Don't compress images
    #SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

    # Make sure proxies don't deliver the wrong content
    #Header append Vary User-Agent env=!dont-vary

</IfModule>

<IfModule mod_ssl.c>

############################################
## make HTTPS env vars available for CGI mode

    SSLOptions StdEnvVars

</IfModule>

<IfModule mod_rewrite.c>

############################################
## enable rewrites

    Options +FollowSymLinks
    RewriteEngine on

############################################
## you can put here your magento root folder
## path relative to web root

    #RewriteBase /magento/

############################################
## uncomment next line to enable light API calls processing

#    RewriteRule ^api/([a-z][0-9a-z_]+)/?$ api.php?type=$1 [QSA,L]

############################################
## rewrite API2 calls to api.php (by now it is REST only)

    RewriteRule ^api/rest api.php?type=rest [QSA,L]

############################################
## workaround for HTTP authorization
## in CGI environment

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

############################################
## TRACE and TRACK HTTP methods disabled to prevent XSS attacks

    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

############################################
## redirect for mobile user agents

    #RewriteCond %{REQUEST_URI} !^/mobiledirectoryhere/.*$
    #RewriteCond %{HTTP_USER_AGENT} "android|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
    #RewriteRule ^(.*)$ /mobiledirectoryhere/ [L,R=302]

############################################
## always send 404 on missing files in these folders

    RewriteCond %{REQUEST_URI} !^/(media|skin|js)/

############################################
## never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## rewrite everything else to index.php

    RewriteRule .* index.php [L]

</IfModule>


############################################
## Prevent character encoding issues from server overrides
## If you still have problems, use the second line instead

    AddDefaultCharset Off
    #AddDefaultCharset UTF-8

<IfModule mod_expires.c>

############################################
## Add default Expires header
## http://developer.yahoo.com/performance/rules.html#expires

    ExpiresDefault "access plus 1 year"

</IfModule>

############################################
## By default allow all access

    Order allow,deny
    Allow from all

###########################################
## Deny access to release notes to prevent disclosure of the installed Magento version

    <Files RELEASE_NOTES.txt>
        order allow,deny
        deny from all
    </Files>

############################################
## If running in cluster environment, uncomment this
## http://developer.yahoo.com/performance/rules.html#etags

    #FileETag none
