<config>    
    <modules>
        <MadCapsule_Dpd>
            <version>2.0.1</version>
        </MadCapsule_Dpd>
    </modules>
    <frontend>
        <routers>
            <dpd>
                <use>standard</use>
                <args>
                    <module>MadCapsule_Dpd</module>
                    <frontName>dpd</frontName>
                </args>
            </dpd>
        </routers>  
    <events>
      <checkout_type_onepage_save_order>
        <observers>
          <MadCapsule_Dpd_Onepage>
            <type>singleton</type>
            <class>madCapsule_Dpd_Model_Observer</class>
            <method>setSpecialInstructions</method>
          </MadCapsule_Dpd_Onepage>
        </observers>
      </checkout_type_onepage_save_order>
       <sales_order_shipment_save_after>
           <observers>
             <MadCapsule_Dpd_Model_Observer>
               <type>singleton</type>
               <class>MadCapsule_Dpd_Model_Observer</class>
               <method>forceConsignment</method>
              </MadCapsule_Dpd_Model_Observer>
            </observers>
       </sales_order_shipment_save_after>
    </events>
    </frontend>
    <global>
    	<models>
       	 <dpd>
        	    <class>MadCapsule_Dpd_Model</class>
        	    <resourceModel>dpd_mysql4</resourceModel>
       	 </dpd>   
       	 <dpd_mysql4>
           		 <class>MadCapsule_Dpd_Model_Mysql4</class>              
         </dpd_mysql4>
        	<dpd_mysql4>
            	<class>MadCapsule_Dpd_Model_Mysql4</class>
            	<entities>
                	<consignment>
                    	<table>madcap_dpd_consignments</table>
                	</consignment>
            	</entities>                 
       	 </dpd_mysql4>
      <sales>
        <rewrite>
          <shipment>MadCapsule_Dpd_Model_SalesShipment</shipment>
        </rewrite>
      </sales>
    	</models>
    	<resources>
            <dpd_setup>
                <setup>
                    <module>MadCapsule_Dpd</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dpd_setup>
            <dpd_write>
            	<connection>
                	<use>core_write</use>
            	</connection>
             </dpd_write>
             <dpd_read>
            	<connection>
                	<use>core_read</use>
            	</connection>
             </dpd_read>      
    	</resources>  
        <blocks>
            <dpd>
                <class>MadCapsule_Dpd_Block</class>
            </dpd>
     	    <adminhtml>
              <rewrite>
                <sales_shipment_grid>MadCapsule_Dpd_Block_SalesShipmentGrid</sales_shipment_grid>
              </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <dpd>
                <class>MadCapsule_Dpd_Helper</class>
            </dpd>  
        </helpers>
	<template>
		<email>
                	<madcapsule_dpd_tracking_template translate="label" module="dpd">
                    	<label>Tracking</label>
                    	<file>madcapsule_dpd_tracking.html</file>
                    	<type>html</type>
                	</madcapsule_dpd_tracking_template>
		</email>
	</template>
    </global>
    <default>
        <dpd>
            <notifications>
                <updates_url><![CDATA[http://www.madcapsule.com/files/rss/dpd]]></updates_url>
                <check_frequency>86400</check_frequency>
            </notifications>
        </dpd>
    </default>
    <admin>
        <routers>
            <madcapsule>
                <use>admin</use>
                <args>
                    <module>MadCapsule_Dpd</module>
                    <frontName>dpd</frontName>
                </args>
            </madcapsule>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <madcapsule_adminhtml>
                    <files>
                        <sintax>MadCapsule_Dpd.csv</sintax>
                    </files>
                </madcapsule_adminhtml>
            </modules>
        </translate>
        <menu>
        <sales>
            <children>
                <dpdconsole translate="title" module="dpd">
                    <title>DPD Ship@Ease</title>
                    <sort_order>1500</sort_order>
                    <title>DPD Recovery Console</title>
                    <action>dpd/adminhtml_dpd</action>
                </dpdconsole>
            </children>
        </sales>
        </menu>
        <acl>
            <resources>
               <admin>
                    <children>
                        <sales translate="title" module="sales">
                          <children>
                             <dpdconsole translate="title" module="adminhtml">
                               <title>DPD Consignment Recovery</title>
                               <sort_order>1500</sort_order>
                               <action>dpd/adminhtml_index</action>
                             </dpdconsole>
                           </children>
       		        </sales>
                        <system>
                            <children>
					<config>
						<children>
                                 <dpd translate="title" module="dpd">
                                    <title>DPD Ship@Ease Configuration</title>
					 <sort_order>50</sort_order>
                                </dpd>
				  	</children>
			 	     </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <dpd>
                    <file>dpd.xml</file>
                </dpd>
            </updates>
        </layout>
	<events>
          <sales_order_shipment_save_after>
           	<observers>
             		<MadCapsule_Dpd_Model_Observer>
               		<type>singleton</type>
               		<class>MadCapsule_Dpd_Model_Observer</class>
               		<method>forceConsignment</method>
              		</MadCapsule_Dpd_Model_Observer>
            	</observers>
       	   </sales_order_shipment_save_after>
	</events>
    </adminhtml>
</config>
