<?xml version="1.0"?>
<config>
    <modules>
        <Mageness_Tweaks>
            <version>0.1.0</version>
        </Mageness_Tweaks>
    </modules>
    <global>
        <models>
            <mageness_tweaks>
                <class>Mageness_Tweaks_Model</class>
            </mageness_tweaks>
        </models>
        <resources>
            <mageness_tweaks_setup>
                <setup>
                    <module>Mageness_Tweaks</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageness_tweaks_setup>
            <mageness_tweaks_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mageness_tweaks_setup_write>
            <mageness_tweaks_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mageness_tweaks_setup_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <mageness_tweaks>
                        <type>singleton</type>
                        <class>Mageness_Tweaks_Model_Observer</class>
                        <method>addItemsColumn</method>
                    </mageness_tweaks>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>