<?xml version="1.0"?>
<config>
    <modules>
        <DevNick_Rotate360>
            <version>0.1.0</version>
        </DevNick_Rotate360>
    </modules>
    <frontend>
        <routers>
            <rotate360>
                <use>standard</use>
                <args>
                    <module>DevNick_Rotate360</module>
                    <frontName>rotate360</frontName>
                </args>
            </rotate360>
        </routers>
        <layout>
            <updates>
                <rotate360>
                    <file>devnick_rotate360.xml</file>
                </rotate360>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <rotate360>
                    <file>devnickrotate360.xml</file>
                </rotate360>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>DevNick_Rotate360_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
            <rotate360>
                <class>DevNick_Rotate360_Block</class>
            </rotate360>
        </blocks>
        <models>
            <rotate360>
                <class>DevNick_Rotate360_Model</class>
                <resourceModel>rotate360_mysql4</resourceModel>
            </rotate360>
            <rotate360_mysql4>
                <class>DevNick_Rotate360_Model_Mysql4</class>
                <entities>
                    <img360>
                        <table>catalog_product_img360</table>
                    </img360>
                </entities>
            </rotate360_mysql4>
        </models>
        <resources>
            <rotate360_setup>
                <setup>
                    <module>DevNick_Rotate360</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rotate360_setup>
            <rotate360_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rotate360_write>
            <rotate360_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rotate360_read>
        </resources>
     </global>
</config>