<?xml version="1.0"?>
<config>
    <modules>
        <Oberig_Fashion>
            <version>0.1.0</version>
        </Oberig_Fashion>
    </modules>
    <admin>
        <routers>
            <oberigfashion>
				<use>admin</use>
                <args>
                    <module>Oberig_Fashion</module>
					<frontName>oberigfashion</frontName>
                </args>
            </oberigfashion>
        </routers>
		<rewrite>
            <oberigfashion_adminhtml_sales_order>
                <from><![CDATA[#^/admin/sales_order/#]]></from>
                <to>/oberigfashion/order/</to>
            </oberigfashion_adminhtml_sales_order>
        </rewrite>
    </admin>
	<frontend>
        <layout>
            <updates>
                <oberigfashion>
                    <file>oberig.xml</file>
                </oberigfashion>
            </updates>
        </layout>	
	</frontend>
	<global>
		<helpers>
			<oberigfashion>
                <class>Oberig_Fashion_Helper</class>
            </oberigfashion>
			<catalog>
				<rewrite>
					<product_configuration>Oberig_Fashion_Helper_Product_Configuration</product_configuration>
				</rewrite>
			</catalog>	
		</helpers>
		<resources>
            <oberigfashion_setup>
                <setup>
                    <module>Oberig_Fashion</module>
                </setup>
            </oberigfashion_setup>
        </resources>
		<models>
			<oberigfashion>
                <class>Oberig_Fashion_Model</class>
            </oberigfashion>
			<catalogrule>
			    <rewrite>
				<rule>Oberig_Fashion_Model_Rule</rule>
			    </rewrite>
			</catalogrule>
			<catalog>
				<rewrite>
					<product_option_type_text>Oberig_Fashion_Model_Product_Option_Type_Text</product_option_type_text>
					<layer>Oberig_Fashion_Model_Catalog_Layer</layer>
					<layer_filter_textfield>Oberig_Fashion_Model_Catalog_Layer_Filter_Textfield</layer_filter_textfield>
				</rewrite>
			</catalog>
			<catalog_resource_eav_mysql4>
				<rewrite>
					<layer_filter_attribute>Oberig_Fashion_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
					<layer_filter_decimal>Oberig_Fashion_Model_Catalog_Resource_Layer_Filter_Decimal</layer_filter_decimal>
					<layer_filter_price>Oberig_Fashion_Model_Catalog_Resource_Layer_Filter_Price</layer_filter_price>
					<layer_filter_textfield>Oberig_Fashion_Model_Catalog_Resource_Layer_Filter_Textfield</layer_filter_textfield>
				</rewrite>
			</catalog_resource_eav_mysql4>
			<sales>
				<rewrite>
					<order_pdf_invoice>Oberig_Fashion_Model_Order_Pdf_Invoice</order_pdf_invoice>
				</rewrite>
			</sales>
			<shipping>
				<rewrite>
					<rate_result_method>Oberig_Fashion_Model_Rate_Result_Method</rate_result_method>
				</rewrite>
			</shipping>
		</models>
		<blocks>
			<oberigfashion>
				<class>Oberig_Fashion_Block</class>
			</oberigfashion>
			<catalog>
				<rewrite>
					<category_view>Oberig_Fashion_Block_Catalog_Category_View</category_view>
					<layer_filter_textfield>Oberig_Fashion_Block_Catalog_Layer_Filter_Textfield</layer_filter_textfield>
					<layer_view>Oberig_Fashion_Block_Catalog_Layer_View</layer_view>
				</rewrite>
			</catalog>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Oberig_Fashion_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
		</blocks>		
		<rewrite>
            <oberigfashion_adminhtml_sales_order>
                <from><![CDATA[#^/admin/sales_order/#]]></from>
                <to>/oberigfashion/order/</to>
            </oberigfashion_adminhtml_sales_order>
        </rewrite>
		<pdf>
            <invoice>
                <default>oberigfashion/order_pdf_items_invoice_default</default>
            </invoice>
        </pdf>
	<events>
            <checkout_submit_all_after>
                <observers>
                    <oberig_fashion_place_order>
                        <type>singleton</type>
                        <class>oberigfashion/observer</class>
                        <method>placeOrder</method>
                    </oberig_fashion_place_order>
                </observers>
            </checkout_submit_all_after>
        </events>
	</global>
	<crontab>
        <jobs>
            <mailchimp_move_subscriber>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>oberigfashion/mailchimp::movesubscriber</model>
                </run>
            </mailchimp_move_subscriber>
        </jobs>
    </crontab>
</config>
