<?xml version="1.0"?>
    <config>
        <modules>
            <DevNick_RoundPrice>
                <version>0.0.1</version>
            </DevNick_RoundPrice>
        </modules>
        <global>
           <models>
            <core>
                <rewrite>
                    <store>DevNick_RoundPrice_Model_Store</store>
                </rewrite>
            </core>
            <directory>
                <rewrite>
                    <currency>DevNick_RoundPrice_Model_Currency</currency>
                </rewrite>
            </directory>
           </models>
           <helpers>
                <checkout>
                    <rewrite>
                        <data>DevNick_RoundPrice_Helper_Data</data>
                    </rewrite>
                </checkout>
           </helpers>
        </global>
  </config>
